<nz-row [nzGutter]="16">
  <nz-col [nzSpan]="5">
    <nz-card>
      <nz-statistic [nzValue]="(53 | number)!" nzSuffix="Candidates" [nzTitle]="'Active'"> </nz-statistic>
    </nz-card>
  </nz-col>
  <nz-col [nzSpan]="5">
    <nz-card>
      <nz-statistic [nzValue]="(8 | number)!" nzSuffix="Candidates" [nzTitle]="'Unread Submissions'"> </nz-statistic>
    </nz-card>
  </nz-col>
  <nz-col [nzSpan]="5">
    <nz-card>
      <nz-statistic [nzValue]="(1 | number)!" nzSuffix="Candidate" [nzTitle]="'Upcoming Interviews'"> </nz-statistic>
    </nz-card>
  </nz-col>
</nz-row>
