@import '../../../styles/_variables.scss';
@import '../../../styles/_tokens.scss';

nz-card {
  clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
}

::ng-deep .ant-statistic-title {
  font-size: 16px;
  line-height: 18px;
}

::ng-deep .ant-statistic-content {
  color: $jobadder-blue-1;
  font-size: 14px;
  line-height: 16px;
}

::ng-deep .ant-card-body {
  height: 72px;
  padding: 8px 0 8px 0;
  box-shadow: 0px 8px 12px rgba(34, 43, 61, 0.15);
  border-radius: 2px;
}

::ng-deep .ant-statistic {
  padding: 8px 8px 8px 18px;
  margin-left: 12px;
  border-left: 4px solid $color-pink-60;
}

::ng-deep nz-col:first-child nz-card .ant-statistic {
  border-color: $jobadder-blue-1;
}

::ng-deep nz-col:last-child nz-card .ant-statistic {
  border-color: $color-amber-40;
}
