div {
  padding-bottom: 8px;
}

.candidate-name-container {
  display: flex;
  font-size: 24px;
}

.candidate-name {
  margin-right: auto;
}

.favorite {
  color: red;
  margin-left: auto;
}

.candidate-position {
  font-size: 18px;
}
