<nz-card class="candidate-card">
  <div class="row candidate-name-container">
    <div class="candidate-name">
      <div class="detail-view-header r-s-header">
        <app-headshot
          class="headshot-48"
          [initials]="candidate.initials"
          [imageThumbnailUrl]=""
          [imageUrl]=""
        ></app-headshot>
        <div class="ml-16">
          <div class="title">
            {{ candidate.shortName }}
          </div>
          <div class="subTitle">{{ candidate.position }}</div>
        </div>
      </div>
    </div>
    <div class="favorite">
      <i
        nz-icon
        nzType="heart"
        [class.is-favorite]="isFavorite"
        [class.not-favorite]="!isFavorite"
        nzTheme="fill"
        (click)="toggleFavorite()"
      ></i>
    </div>
  </div>
  <div class="row candidate-summary">
    <span *ngIf="candidate.summary" [innerHTML]="candidate.summary"></span>
    <span *ngIf="!candidate.summary"
      >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged.</span
    >
  </div>
  <div class="candidate-card-footer">
    <div class="engage">
      <button nz-button nzType="default" [class.engaged]="engageButtonText === 'Engaged'" (click)="engageCandidate()">
        {{ engageButtonText }}
      </button>
    </div>
    <div class="rating">
      <nz-rate class="app-rate" [ngModel]="candidate.rating" [nzCount]="3" [nzAllowClear]="false"></nz-rate>
      <ng-container>
        <span class="action-icons">
          <a class="clickable" nz-tooltip nzTooltipTitle="View Candidate" (click)="openCandidateDetails()">
            <i nz-icon nzType="right"></i>
          </a>
        </span>
      </ng-container>
    </div>
  </div>
</nz-card>
