<nz-card class="candidate-card">
  <div class="row candidate-name-container">
    <div class="candidate-name">{{ candidate.fullName }}</div>
    <div class="favorite">
      <i nz-icon nzType="heart" [nzTheme]="isFavorite ? 'fill' : 'outline'" (click)="toggleFavorite()"></i>
    </div>
  </div>
  <div class="row candidate-position">{{ candidate.position }}</div>
  <div class="row candidate-summary">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
    type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
    remaining essentially unchanged.
  </div>
  <div class="row">{{ candidate.location }}</div>
  <div class="candidate-card-footer">
    <div class="engage"><button nz-button nzType="default">Engage</button></div>
    <div class="rating">
      <nz-rate class="app-rate" [ngModel]="candidate.rating" nzAllowHalf [nzAllowClear]="false"></nz-rate>
    </div>
  </div>
</nz-card>
