@import '../../../styles/_variables.scss';

.zoom-toggle {
  .icon-container {
    width: 32px;
    height: 32px;
    position: relative;

    .icon-background {
      border-radius: 50%;
      width: 32px;
      height: 32px;
      background-color: white;
    }

    i {
      color: $jobadder-blue-1;
      font-size: 22px;
      position: absolute;
      margin: 5px 0 0 5px !important;
    }

    &:hover {
      cursor: pointer !important;
    }

    &:last-child {
      margin-top: 12px;
    }
  }
}
