@import "../../../styles/_variables.scss";

::ng-deep .ant-drawer-body {
  margin: 0;
  padding: 0;
}

.drawer-container {
  nz-table {
    width: 376px;
    margin-right: 12px;
    margin-left: 12px;
  }
}

.drawer-header {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
  .header-text {
    flex: 1;

    font-size: 20px;
    font-weight: bold;
    color: $jobadder-grey-ink-1;
    letter-spacing: 0.11px;
    line-height: 1.2;
  }
}

.detail-view-header {
  display: flex;
  align-items: center;
  box-shadow: inset 0 -1px 0 0 $jobadder-grey-sky-3;
  height: 72px;
  color: $jobadder-grey-ink-2;
  font-family: $jobadder-font-family;
  letter-spacing: -0.2px;
  line-height: 20px;
  background-color: $jobadder-grey-sky-1;
  margin-bottom: 16px;

  .subTitle {
    font-weight: 600;
  }
}

.ml-24 {
  margin-left: 24px;
}

.ml-16 {
  margin-left: 16px;
}

::ng-deep nz-rate {
  &.app-rate {
    .ant-rate {
      font-size: 18px;
    }

    .ant-rate-star:not(:last-child) {
      margin-right: 1px;
    }

    .ant-rate-star-focused,
    .ant-rate-star:hover {
      transform: none;
    }
  }
}
