<nz-drawer [nzClosable]="false" [nzVisible]="true" nzPlacement="right" (nzOnClose)="closeSelf()" nzWidth="400px">
  <ng-container *nzDrawerContent>
    <div class="drawer-container small r-c-view-submissions">
      <div class="drawer-header">
        <span class="header-text">Submission Details</span>
      </div>

      <div class="detail-view-header r-s-header">
        <app-headshot
          class="headshot-48 ml-24"
          [initials]="companyInitials"
          [imageThumbnailUrl]="companyThumbnailUrl"
          [imageUrl]="companyThumbnailUrl"
        ></app-headshot>
        <div class="ml-16">
          <div *ngIf="jobTitle">
            {{ jobTitle }}
          </div>
          <div class="subTitle" *ngIf="companyTitle">
            {{ companyTitle }}
          </div>
        </div>
      </div>
      <nz-table #submissionTable *ngIf="submission" [nzData]="submission.candidates">
        <thead>
          <tr>
            <th
              *ngFor="let column of listOfColumns"
              [nzSortOrder]="column.sortOrder"
              [nzSortFn]="column.sortFn"
              [nzSortDirections]="column.sortDirections"
              [nzFilterMultiple]="column.filterMultiple"
              [nzFilters]="column.listOfFilter"
              [nzFilterFn]="column.filterFn"
            >
              {{ column.name }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let candidate of submissionTable.data">
            <td (click)="showCandidateDrawer(candidate.candidateId)" class="candidate-name">
              {{ candidate.name }}
            </td>
            <td>{{ candidate.submittedAt | date: 'shortDate' }}</td>
            <td>
              <nz-rate class="app-rate" [ngModel]="candidate.rating" nzAllowHalf [nzAllowClear]="false"></nz-rate>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </ng-container>
</nz-drawer>
<app-submission-candidate-drawer
  *ngIf="submissionCandidateDrawerVisible"
  (visibleChange)="closeDrawer($event)"
  [submissionId]="submissionId"
  [candidateId]="selectedCandidateId"
></app-submission-candidate-drawer>
