<div class="candidate-details" *ngIf="candidate">
  <div class="candidate-details-header">
    <div class="candidate-details-header-left">
      <div class="detail-view-header r-s-header">
        <app-headshot
          class="headshot-72"
          [initials]="candidate.initials"
          [imageThumbnailUrl]="candidate.photoUrl"
          [imageUrl]="candidate.photoUrl"
        ></app-headshot>
        <div class="ml-16">
          <div class="title">
            {{ candidate.shortName }}
          </div>
          <div class="subTitle">{{ candidate.position }}</div>
        </div>
      </div>
    </div>
    <div class="candidate-details-header-right">
      <span class="rating"
        ><nz-rate class="app-rate" [ngModel]="3" [nzCount]="3" [nzAllowClear]="false"></nz-rate
      ></span>
      <span class="buttons">
        <button nz-button nzType="default" class="default">
          <i nz-icon class="icon" nzType="heart" nzTheme="fill"></i>
        </button>
        <button nz-button nzType="default" class="default">
          <i nz-icon class="icon" nzType="comment" nzTheme="outline"></i> Comments
        </button>
        <button nz-button nzType="default" class="default">
          <i nz-icon class="icon" nzType="profile" nzTheme="outline"></i> Notes
        </button>
        <button nz-button nzType="default" class="engaged">Engaged</button>
      </span>
    </div>
  </div>
  <div class="candidate-details-body">
    <div class="candidate-details-left">
      <div class="heading">Summary</div>
      <div class="description" [innerHTML]="candidate.summary"></div>

      <div class="heading">Category</div>
      <div class="description">
        {{ candidate.position }} <br />
        {{ candidate.industry }}
      </div>

      <div class="heading">Salary Expectation</div>
      <div class="description">$100,000 - $150,000</div>

      <div class="heading">Availability</div>
      <div class="description">{{ candidate.availability }}</div>
    </div>
    <div class="candidate-details-right">
      <div class="heading">Resume</div>
      <div><app-resume-detail *ngIf="candidate" [candidate]="candidate" [fullView]="fullView"></app-resume-detail></div>
    </div>
  </div>
</div>
