<div *ngIf="candidate" class="candidate-resume r-candidate-detail-resume">
  <div class="candidate-resume-header">
    <nz-radio-group class="mode-selector" [(ngModel)]="mode" (ngModelChange)="modeChange($event)">
      <label nz-radio-button nzValue="original">Original</label>
      <label nz-radio-button nzValue="formatted">Formatted</label>
    </nz-radio-group>
  </div>

  <ng-container *ngIf="mode === 'original'">
    <ng-container *ngIf="candidate.resume; else noResumeTpl">
      <div class="viewer-container">
        <iframe
          *ngIf="resumeViewUrl"
          [style.width]="resumeZoom * enlargeForPushing + '%'"
          [style.height]="'100%'"
          [src]="resumeViewUrl | safeResourceUrl"
          (load)="onIframeLoad($event)"
        ></iframe>
      </div>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="mode === 'formatted'">
    <ng-container *ngIf="candidate.formattedResume; else noResumeTpl">
      <div class="viewer-container">
        <iframe
          *ngIf="formattedResumeViewUrl"
          [style.width]="formattedResumeZoom * enlargeForPushing + '%'"
          [src]="formattedResumeViewUrl | safeResourceUrl"
          (load)="onIframeLoad($event)"
        ></iframe>
      </div>
    </ng-container>
  </ng-container>
</div>
