<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
    nzTheme="light"
  >
    <div class="sidebar-logo">
      <img src="../assets/logo-ipsum.svg" alt="logo ipsum" />
    </div>
    <div class="search">
      <nz-input-group [nzPrefix]="prefixIconSearch">
        <input type="text" nz-input placeholder="Search" />
      </nz-input-group>
      <ng-template #prefixIconSearch>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </div>
    <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/welcome"><i nz-icon nzType="user" nzTheme="outline"></i> Account</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/contact"><i nz-icon nzType="phone" nzTheme="outline"></i> Contact</a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
