@import '../styles/_variables.scss';

:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  height: 100vh;
  background: #f0f2f5;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
}

.header-trigger {
  height: 64px;
  padding: 20px 24px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s, padding 0s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  position: relative;
  //height: 50px;
  padding-left: 40px;
  //padding-bottom: 10px;
  overflow: hidden;
  //line-height: 64px;
  transition: all 0.3s;
}

.logo img {
  display: inline-block;
  vertical-align: middle;
}

.logo span {
  display: inline-block;
  margin: 0 0 0 20px;
  color: $white;

  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  vertical-align: middle;

  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

.app-header {
  position: relative;
  height: 210px;
  padding: 0;
  background: #533aaf;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  padding: 20px;
}

.header-top {
  display: flex;
  margin-bottom: 24px;

  .logo {
    margin-right: auto;
    font-size: 48px;
  }

  .action-buttons {
    margin-left: auto;
  }
}

button {
  background: transparent;
  color: white;
  margin-right: 12px;
}

.header-content {
  padding: 0 0 0 40px;
  color: white;
  line-height: 40px;

  .talent-profiles {
    font-size: 26px;
    color: white;
    margin: 0;
    padding: 0 0 8px 0;
  }
}

nz-content {
  margin: 24px;
}

.inner-content {
  padding: 164px 24px 24px 24px;
  height: 100%;
}

.search {
  position: relative;

  nz-input-group {
    background: #7360b9;
    width: 313px;
    height: 32px;
    margin-right: 8px;

    border: $white;
    color: $white;

    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $white;
      opacity: 1; /* Firefox */
    }
  }

  input {
    //height: 30px;
    background: transparent;
    color: $white;
    font-weight: 600;
  }
}

.icon {
  font-size: 16px;
}
