<nz-layout class="app-layout">
  <!-- <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
    nzTheme="light"
  >
    <div class="sidebar-logo">
      <img src="assets/logo-ipsum.svg" alt="logo ipsum" />
    </div>
    <div class="search">
      <nz-input-group [nzPrefix]="prefixIconSearch">
        <input type="text" nz-input placeholder="Search" />
      </nz-input-group>
      <ng-template #prefixIconSearch>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </div>
    <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/welcome"><i nz-icon nzType="user" nzTheme="outline"></i> Account</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/contact"><i nz-icon nzType="phone" nzTheme="outline"></i> Contact</a>
      </li>
    </ul>
  </nz-sider> -->
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <div class="header-top">
          <div class="logo">
            <img src="assets/engagetalent-logo.svg" alt="EngageTalent" />
            <!-- <span>EngageTalent</span> -->
          </div>
          <div class="action-buttons">
            <button nz-button nzType="default" class="default">
              <i nz-icon class="icon" nzType="heart" nzTheme="fill"></i> View Favourites
            </button>
            <button nz-button nzType="default" class="default">
              <i nz-icon class="icon" nzType="plus" nzTheme="outline"></i> Activities
            </button>
          </div>
        </div>
        <div class="header-content">
          <div class="talent-profiles">Talent Profiles</div>
          <div class="search">
            <span
              ><nz-input-group [nzPrefix]="prefixIconSearch">
                <input type="text" nz-input placeholder="Search" />
              </nz-input-group>
              <ng-template #prefixIconSearch>
                <i nz-icon nzType="search"></i>
              </ng-template>
            </span>
            <span>
              <button nz-button nzType="default" class="default">
                <i nz-icon class="icon" nzType="filter" nzTheme="outline"></i> Filter
              </button>
            </span>
          </div>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
